APP_NAME=WhatToDo NYC API
ENV=dev
SQLALCHEMY_DATABASE_URL=postgresql+psycopg2://postgres:postgres@localhost:5432/whattodo
JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256
JWT_EXPIRE_MINUTES=120
GOOGLE_PLACES_API_KEY=
ACCUWEATHER_API_KEY=
ACCUWEATHER_BASE_URL=https://dataservice.accuweather.com
CORS_ORIGINS=http://localhost:3000
